       .row {
          width:420px;
          margin:0 auto;
        }      
        .row ul {
          list-style:none;
          margin:0;
          padding:0;
        }
        .row ul li {
          display:inline-table;      
				}
        li>img{
          border-radius : 10px;
          margin: 5px;
        }
				
        /* 라이트 박스 스타일 */
        #lightbox {
          width:640px;  /* 너비 */
          height:420px;  /* 높이 */
        }

      /* 라이트 박스 안의 이미지 */
        #lightbox img {
          position:absolute;  /* top, left에 의해 위치 지정 */
          top:50%;  /* 위쪽에서 50% 부터 */
          left:50%;  /* 왼쪽에서 50% 부터 */
          transform:translate(-50%, -50%);  /* 요소를 화면 중앙에 표시하기 위해 이동 */    
          border-radius : 10px;
          margin: 40px auto;
        }